.instructions {
    min-height: 4em;
}

.container {
    max-width: 600px;
    display: table;
}

.flashcard {
    display: table-cell;
    vertical-align: middle;
    height: 200px;
    width: 100%;
}

.front .back {
    height: 200px;
}

.flashcard p {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    height: 100%;
}

/* TODO: Animate. Look at http://davidwalsh.name/css-flip */
