.centered {
    text-align: center;
}

.left-aligned {
    text-align: left;
}

.right-aligned {
    text-align: right;
}

.inline-container * {
    display: inline;
}

.instructions {
    min-height: 4em;
}

.container {
    max-width: 600px;
    display: table;
}

.flashcard-container {
    display: table;
    width: 100%;
}

.flashcard {
    display: table-cell;
    vertical-align: middle;
    height: 200px;
    width: 100%;
    background-color: #f8ecc2;
    border-radius: 30px;
}

.front .back {
    height: 200px;
}

.flashcard p {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    height: 100%;
}

.button-container {
    margin-top: 10px;
}

/* TODO: Animate. Look at http://davidwalsh.name/css-flip */
